*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  body,html{
	  background-color: rgb(255, 255, 255);
	  background-position: center;
	  scroll-behavior: smooth;
  }
  #navbar{
	  width: 25%;
	  height: 100vh;
	  background-color: #a0522d;
	  position: fixed;
  }
  img{
	  border-radius: 50%;
	  width: 350px;
	  border: 10px;
	  object-position: center;
	  border-style: solid;
	  border-color: white;
  }
  .container{
	  width: 100%;
	  margin: 11px;
	  font-family: verdana;
  }
  #navbar .container{
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  width: 30%;
  }
  .main-nav{
  
	  text-align: center;     
  
  }
  ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 200px;
	  position: fixed;
	  overflow: auto;
	  margin-left: 60px;
	  font-weight: bold;
	  font-family: verdana;
	}
	li a {
	  display: block;
	  color: #000;
	  padding: 8px 16px;
	  text-decoration: none;
	}
	li a:hover {
	  background-color: #555;
	  color: white;
	}
	.active {
	  background-color: #000;
	  color: white;
	}
  
	.about-section,
	.experience-section,
	.skills-section,
	.education-section,
	.interest-section,
	.awards-section{
	  height: 100vh;
	  display: flex;
	  align-items: center;
	}
	#wrapper{
	  width: 70%;
	  margin-left: 400px;
	}
	.maintitle{
	  font-size: 60px;
	  font-weight: bold;
	}
	.fa {
	  padding: 20px;
	  font-size: 40px;
	  width: 60px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 50%;
	  margin-top: 20px;
	  margin-bottom: 10px;
	}
	
	.fa:hover {
		opacity: 0.7;
	}

	.fab {
		background-color: #000;
		color: white;
		size: 20px;;
	}
/* 	
	.fa-facebook {
	  background: #000000;
	  color: white;
	}
	.fa-twitter {
	  background: #000000;
	  color: white;
	}
	.fa-linkedin {
	  background: #000000;
	  color: white;
	}
	.fa-github {
	  background: #000000;
	  color: white;
	}
	.fa-html5 {
	  background: #000000;
	  color: white;
	} */
	.subtitle{
	  margin-top: 60PX;
	  font-size: 40px;
	  font-weight: bold;
	  padding-bottom: 60px;
	}
	.company{
	  color: #000;
	  font-weight: bold;
	}
	.date{
	  color: sienna;
	  float: right;
	  padding-right: 40px;
	}
	.jobtitle{
	  font-size: 20px;
	  font-weight: bold;
	  margin: -10px;
	  padding-left: 8px;
	}
	.content{
	  text-align: justify;
	  padding-right: 120px;
	  padding-bottom: 80px;
	}
	.dev-icons{
	  width: auto;
	  height: auto;
	  margin: 5px 2px;
	 
	  -webkit-filter: grayscale(100%);
	  filter: grayscale(100%);
	}
	.social-icons .social-icon {
		padding: 20px;
		font-size: 40px;
		width: 50px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
		border-radius: 50%;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	  


	ol{
	  list-style-type: none;
	}
	li span{
		background-repeat: no-repeat;
		padding-left: 48px;
		margin-bottom: 24px;
	  }
